.dashboard-container {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    min-height: 100vh;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #328f39;
    padding: 10px;
    border-radius: 8px;
}

.nav-item {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

.nav-item.active {
    color: #fff;
    background-color: #53b02b;
    border-radius: 5px;
}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.authorization-list {
    list-style: none;
    padding: 0;
}

.authorization-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.authorization-item:last-child {
    border-bottom: none;
}

.dashboard-btn {
    margin-top: 20px;
    padding: 10px 15px;
    color: #fff;
    background-color: #53b02b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.dashboard-btn:hover {
    background-color: #328f39;
}

.profile p {
    margin: 5px 0;
}

.authority-controls {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.status-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.status-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.status-btn.approve {
    background-color: #28a745;
    color: white;
}

.status-btn.approve.dimmed {
    background-color: #a8d5b7;
    color: #f1f1f1;
}

.status-btn.deny {
    background-color: #dc3545;
    color: white;
}

.status-btn.deny.dimmed {
    background-color: #f5b5ba;
    color: #f1f1f1;
}

.status-btn.selected {
    font-weight: bold;
}

.status-btn.approve:hover {
    background-color: #218838;
}

.status-btn.deny:hover {
    background-color: #c82333;
}

textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    resize: none;
}

textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}